---
import { Rules } from '@/components/Rules'
import Layout from '../layouts/Layout.astro'

import { Header } from '@/components/Header'
import { Calendar } from '@/components/ui/calendar'
import Marquee from '@/components/ui/marquee'
import { Footer } from '@/components/Footer'

const marqueeHeaderItems = ['Mesa ITC', 'Manos Regias', '2026', 'Primer torneo interno de Fifa']
const tournamentDate = '2026-03-20T10:00:00-06:00'
---

<Layout>
  <Header
    countdownDate={tournamentDate}
    client:load
  />
  <Marquee items={marqueeHeaderItems} />
  <main class="mt-20 text-center px-10">
    <section class="mb-20">
      <h2 class="text-2xl font-bold mb-4">Fecha del torneo</h2>
      <Calendar
        mode="single"
        selected={new Date()}
        onSelect={(date) => console.log(date)}
        className="w-fit mx-auto"
      />
    </section>
    <section class="mb-20">
      <h2 class="text-2xl font-bold mb-4">Registro</h2>
      <p>CODIOG QR EPICO PARA REGISTRARSE</p>
    </section>
    <section class="mb-20">
      <h2 class="text-2xl font-bold mb-4">Reglas del torneo</h2>
      <Rules />
    </section>
  </main>
  <Footer />
</Layout>
