---
import { Rules } from '@/components/Rules'
import Layout from '../layouts/Layout.astro'

import { Header } from '@/components/Header'
import { Calendar } from '@/components/ui/calendar'
import Marquee from '@/components/ui/marquee'
import { Footer } from '@/components/Footer'
import ImageCard from '@/components/ui/image-card'
import { Button } from '@/components/ui/button'
import { Counter } from '@/components/Counter'

const marqueeHeaderItems = ['Mesa ITC', 'Manos Regias', '2026', 'Torneo Benefico EA FC 25']
const tournamentDate = '2026-03-24T16:00:00-06:00'
---

<Layout>
  <Header />
  <Marquee items={marqueeHeaderItems} />
  <main class="mt-20 text-center px-10">
    <section class="mb-20">
      <h2 class="text-3xl font-bold mb-4">Fecha del torneo</h2>
     <Calendar
        mode="single"
        selected={new Date(2026, 2, 24)}
        defaultMonth={new Date(2026, 2, 24)}
        onSelect={(date) => console.log(date)}
        className="mb-10 w-fit mx-auto"
      />
      <Counter
        targetDate={tournamentDate}
        client:load
      />
    </section>

    <!-- <section class="mb-20">
      <h2 class="text-3xl font-bold mb-4">Invitados especiales</h2>
      <ImageCard
        caption="Linus Torvalds nuestro comentarista"
        imageUrl="https://www.silicon.fr/wp-content/uploads/2025/09/Linus-Torvalds-egoisme-est-origine-succes-F.jpg"
        className="mx-auto"
      />
    </section> -->

    <section class="mb-20">
      <h2 class="text-3xl font-bold mb-4">Registro</h2>

      <a href="https://forms.cloud.microsoft/r/hdQB9ZEfBh" target="_blank">
        <Button>
          Registrate aquí
        </Button>
      </a>
    </section>

    <section class="mb-20"></section>

    <section class="mb-20">
      <h2 class="text-3xl font-bold mb-4">Reglas del torneo</h2>
      <Rules client:load />
    </section>
  </main>
  <Footer />
</Layout>
