---
import { Calendar } from '@/components/ui/calendar'
import Marquee from '@/components/ui/marquee'

const items = ['Mesa ITC', 'Manos Regias', '2026', 'Primer torneo interno de Fifa']
---

<main>
  <div>
    <Marquee items={items} />
    <Calendar
      mode="single"
      selected={new Date()}
      onSelect={(date) => console.log(date)}
      className="w-fit"
    />
  </div>
</main>
