---
import { Calendar } from '@/components/ui/calendar'
---

<main>
  <div>
    <Calendar
      mode="single"
      selected={new Date()}
      onSelect={(date) => console.log(date)}
      className="w-fit"
    />
  </div>
</main>
